:root {
  --white-background-color: #ffffff;
  --nav-color: #2e2f42;
  --logo-main-color: #4d5ae5;
  --logo-header-color: #2e2f42;
  --linkhover-color: #404bbf;
  --footer-text-color: #f4f4fd;
  --main-title-color: #2e2f42;
  --main-background-color: #2e2f42;
  --button-normal-color: #4d5ae5;
  --button-hover-color: #404bbf;
}

/* global styles */
body {
  font-family: roboto, sans-serif;
  color: #434455;
  background-color: var(--white-background-color);
}

/*------------- navigation styles ----------------*/
.logo-header .link {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-main-color);
}

.link {
  text-decoration: none;
}

.logo-header .partlogo {
  color: var(--logo-header-color);
}

.navigation-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--nav-color);
}

.address-list {
  font-style: normal;
}

.address-list a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: #434455;
}

/* hover and focus */
.navigation-list a:hover,
.navigation-list a:focus,
.address-list a:hover,
.address-list a:focus {
  color: var(--linkhover-color);
}

/*---------- footer styles-------------------- */

.footer-space {
  background: var(--main-background-color);
}

.logo-footer .logo-link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-normal-color);
}

.logo-footer .partlogo {
  color: var(--footer-text-color);
}

.footer-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
}

/* -----------PAGE index-------------------- */
/* ----hero----- */
.hero {
  background: var(--main-background-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.button-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: var(--button-normal-color);
  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hover-color);
}

/* <!-- advantages -->  */
.advantages-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color);
}

.advantages-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* <!-- type of project --> */
.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}

/* <!-- our team --> */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.team-title h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color);
}

.team-title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* -----------PAGE portfolio-------------------- */

/* <!-- filter buttons --> */

.buttons-list button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--button-normal-color);
  background: #f4f4fd;
}

.buttons-list button:hover,
.buttons-list button:focus {
  background: var(--button-hover-color);
  color: #ffffff;
}

/* <!-- list of the projects --> */

.project-list h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-title-color);
}

.project-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
